.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
  padding: 0;
  .am-grid-item-inner-content.column-num-3 .am-grid-text {
    font-size: 0.32rem;
    font-weight: 400;
    color: #333333;
    margin: 0.267rem 0 0.4rem;
  }
}
.am-grid.am-grid-square .am-grid-item {
  .am-grid-item-inner-content {
    height: auto;
    .am-grid-icon {
      margin-top: 0;
      width: 1.28rem!important;
    }
  }
  &:before {
    padding-bottom: 80%;
  }
  &:after {
    content: '';
    width: 0.0133rem;
    height: 0.92rem;
    background-color: #EAEAEA;
    display: inline-block;
    position: absolute;
    top: 0.687rem;
    right: 0;
  }
  &:nth-child(3):after {
    display: none;
  }
}